.balance-display {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
* {
  margin: 0px;
  padding: 0px;
  /* background-color: aqua; */
}
.heading {
  font-weight: 600;
}
.main-div {
  background-color: #e5e5ed;
  padding: 10px;
}
.calculator-icon {
  /* width: 100px;
  height: 100px; */
  font-size: 100px;
  margin: 20px;
}
.header-text {
  margin-left: 50px;

  /* background-color: rebeccapurple; */
}
.hidden-during-share {
  visibility: hidden;
}
.header-text h1 {
  font-size: 28px;
}
.header-text h2 {
  font-size: 40px;
  font-weight: 700;
  padding: 5px;
  /* margin-left: 5px; */
  text-align: justify;
  /* background-color: red; */
}
/* Green color for positive balance */
.positive-balance {
  color: green;
}

/* Red blinking animation for negative balance */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.negative-balance {
  color: red;
  animation: blink 1s infinite; /* Blinking animation */
}

.income-display {
  background-color: #ffff;
  box-shadow: gray;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
.expenses-div,
.creditDue-div,
.income-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.income-heading,
.due-heading,
.expenses-heading {
  font-size: 25px;
}
.income-div h3 {
  color: green;
}

.creditDue-div h3,
.expenses-div h3 {
  color: red;
}
